<h1><%= @task.title %></h1>

<ul>
  <li>Details: <%= @task.details %></li>
  <li>Completed: <%= @task.completed %></li>
</ul>

<%= link_to "Delete task", tasks_path %>
<hr>
<%= link_to "Back to all tasks", tasks_path %>
